* {
	font-family:Venetian;
}
h1 {
	color:darkred;
}
h2 {
	color:purple;
}
table {
	background:silver;
}
body {
	background-color:lightblue;
}
table {
	border:1px violet solid;
}
div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	text-align: center;
}