/*h1 {
	color:darkred;
}*/
h2 {
	color:purple;
}
body {
	background-color:lightblue;
	font-family:cursive;
}
table {
	border:1px violet solid;
	background-color:silver
}
div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	text-align: center;
}